<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Catalogo de zapatillas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="catalogo-zapatilla">
    <img class="img-zapatilla" src="assets/img/zapatilla2.jpeg" alt="zapatilla"/>
    
    <h2 class="titulo-zapatilla">zapatilla Duo</h2>
    <p class="descripcion-zapatilla">
      Esta zapatilla de futbol te aporta un toque seguro y ligero en cualquier remate.
      Su diseño ligero permite mayor rapidez a la hora de correr,
       además, sus materiales te permiten realizar un remate seguro.
    </p>

    <ion-card>
    <img class="img-zapatilla" src="assets/img/zapatilla2.jpeg" alt="zapatilla fut"/>
    <img class="img-zapatilla" src="assets/img/zapatilla2.jpeg" alt="zapatilla fut"/>
    <img class="img-zapatilla" src="assets/img/zapatilla2.jpeg" alt="zapatilla fut"/>
    </ion-card>
  </div>
</ion-content>