<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Catalogo de zapatillas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="catalogo-zapatilla">
    <img class="img-zapatilla" src="assets/img/zapatilla4.avif" alt="zapatilla running"/>
    
    <h2 class="titulo-zapatilla">Zapatilla running</h2>
    <p class="descripcion-zapatilla">
      Esta zapatilla de running combina estilo y funcionalidad. 
      Su diseño y ligereza permite un mejor equilibrio en 
      cada paso que das, ya sea al caminar o correr.
    </p>
    
    <ion-card>
      <img class="img-zapatilla" src="assets/img/zapatilla4.avif" alt="zapatilla run"/>
      <img class="img-zapatilla" src="assets/img/zapatilla4.avif" alt="zapatilla run"/>
      <img class="img-zapatilla" src="assets/img/zapatilla4.avif" alt="zapatilla run"/>
    </ion-card>
  </div>
</ion-content>