<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Catalogo de zapatillas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="catalogo-zapatilla">
    <img class="img-zapatilla" src="assets/img/zapatilla3.webp" alt="zapatilla voley"/>
    
    <h2 class="titulo-zapatilla">Zapatilla voleyball</h2>
    <p class="descripcion-zapatilla">
      Esta zapatilla de voleyball es perfecta para saltar sobre el 
      bloqueo rival y garantizar una caída segura. 
      Con su material ligero y una entresuela gruesa, 
      esta zapatilla será tu mejor compañera en la cancha.
    </p>

    <ion-card>
      <img class="img-zapatilla" src="assets/img/zapatilla3.webp" alt="zapatilla voley"/>
      <img class="img-zapatilla" src="assets/img/zapatilla3.webp" alt="zapatilla voley"/>
      <img class="img-zapatilla" src="assets/img/zapatilla3.webp" alt="zapatilla voley"/>
    </ion-card>
  </div>
</ion-content>