//cuerpo de la pagina

ion-toolbar {
  --background: #ffffff;
  --color: #000000;
}

  //logo
  .img-logo{
    width: 40%;
    height: auto; 
  }

  ion-content {
    --background: #ffffff;
  }
  
  ion-item {
    --background: #ffffff;
    --color: #000000;
  }
  
  ion-grid {
    padding: 0;
  }
  
  //general
  p {
    font-size: 0.8rem;
    color: #000000;
    margin: 0;
    padding: 0 4px; 
  }

  //derechos reservados menu
  p.derechos {
    text-align: center; 
    margin-top: 20px; 
    font-size: 0.9rem; 
    color: #000000;
  }
