//cuerpo general de la pagina

ion-toolbar {
  --background: #ffffff;
  --color: #000000;
}

  ion-content {
      --background: #ffffff;
    }

  .logo-registro {
    width: 70%;
    padding-left: 30%;
  }
  
  ion-item {
    --background: #ffffff;
    --color: #000000;
  }

  //p general
  p {
    font-size: 0.8rem;
    color: #000000;
    margin: 0;
    padding: 0 4px; 
  }