<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Catalogo de zapatillas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="catalogo-zapatilla">
    <img class="img-zapatilla" src="assets/img/zapatilla1.avif" alt="zapatilla basketball" />
    
    <h2 class="titulo-zapatilla">Zapatilla basketball</h2>
    <p class="descripcion-zapatilla">
      Esta zapatilla de basketball está diseñada para darte el mejor 
      rendimiento en la cancha. 
      Con su ligereza y amortiguación, es ideal para todo tipo de jugador.
    </p>
    <ion-card>
      <img class="img-zapatilla" src="assets/img/zapatilla1.avif" alt="zapatilla basket" />
      <img class="img-zapatilla" src="assets/img/zapatilla1.avif" alt="zapatilla basket" />
      <img class="img-zapatilla" src="assets/img/zapatilla1.avif" alt="zapatilla basket" />
    </ion-card>
  </div>
</ion-content>